
audio   {
    display: none;
}

body {

}

@font-face {
      font-family: 'Neon';
      src: url('plaid-s-mono.eot');
      src: url('plaid-s-mono.eot?#iefix') format('embedded-opentype'),
      url('neon.woff2') format('woff2'),
      url('plaid-s-mono.woff') format('woff');
      font-weight: normal;
      font-style: normal;

    }

.flip-card {
  width: 23%;
  height: 700px;
  perspective: 1000px;
  display: inline-flex;
  padding-top: 100px;
  padding-left: 25px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
  font-family: 'Helvetica', sans-serif;
  padding-left: 20px;
}

.flip-card-back p {
  padding: 20px;
  font-size: 16px;
}

.box {
    width: 350px;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
    margin-right: 100px;
}


.box2 {
    display: inline-flex;
}

.box3 {
    display: inline-flex;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.mobile {
  display: none;
}


.slottt-machine-recipe {
    width: 500px;
    margin: auto;
}


.slottt-machine-recipe__mask {
    width: 700px;
    height: 100px;
    overflow: hidden; 
    position: absolute;
    display: inline-flex;
    margin: auto;
    padding-top: 50px;
}

.slottt-machine-recipe__items_container {
    position: absolute;
}

.slottt-machine-recipe__item {
    min-height: 150px;
    max-height: 150px;
    margin: 0px;
    padding: 0px;
    background-size: contain;
}

.recipe_if, .recipe_then {
    font-weight: bold;
    font-size: 100px;
    font-family: /*'Neon',*/ 'Anton', sans-serif;
    color: #0000ff;
    text-align: center;
    /*font-family: 'Helvetica'; sans-serif;
    /* color: #ad7300;*/
}

 @media screen and (max-width: 800px) { 
    .flip-card {
      float: left;
      margin:0;
      width: 45%;
    }
  }


   @media screen and (max-width: 400px) { 
    .flip-card {
      float: none;
      margin:0;
      width: 100%;
      height: 350px;

    }
    
    .flip-card-back p {
    display: none;
    }

    .mobile {
    display: inline-block;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;

    }

    .box {
      display: none;
    }

    .recipe_if, .recipe_then {
    display: inline-block;
    font-weight: bold;
    font-size: 80px;
    font-family: /*'Neon',*/ 'Anton', sans-serif;
    color: #0000ff;
    text-align: center;
    padding-left: 20px;
    /*font-family: 'Helvetica'; sans-serif;
    /* color: #ad7300;*/
}
  }






